.footer {
  width: 100%;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
 }
address {
  font-style: normal;
}

.footer-address-link {
  line-height: 1.71;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-list{
  @media screen and (max-width: 767px) {
    display: block;
    width: 100%;
  }


}


.footer-list-item {

  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.footer-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-holder {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    
  }
  
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-contacts {
  text-align: center;
  @media screen and (min-width: 1200px) {
    flex-grow: 1;
    margin-right: 70px;
  }
}

.footer__tittle {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primery-white-color);
  margin-bottom: 20px;


}

.footer-form {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
    }
  @media screen and (min-width: 1200px) {
  margin-left: 93px;
  }
  
}

.form-wrap {
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
