.email-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-right: 12px;
    padding: 15px 16px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primery-white-color);
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      line-height: 1.25;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:focus {
      border-color: var(--accent-color);
    }
    &:focus::placeholder {
      color: var(--accent-color);
    }
  }
  