
  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
  }

  .logo--dark {
    color: #000000;
  }
  
  .white-logo {
    color: #ffffff;
  }