.modal {
    width: 528px;
    min-height: 581px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    position: relative;
    padding: 40px;
  }
  .modal-tittel {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: #212121;
    margin-bottom: 12px;
  }
  .modal-wrap {
    margin-bottom: 10px;
  }
  .modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-color-text);
    margin-bottom: 4px;
  }
  
  .modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    padding-left: 42px;
    padding-right: 20px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border-color: var(--accent-color);
    }
      }

  .input-wrap {
    position: relative;
  }
  
    .icon-input {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal-input:focus + & {
      fill: var(--accent-color);
    }
  }
  
  .modal-wrap-textarea {
    margin-bottom: 20px;
  }
  
  .user-coment {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder {
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
    &:focus {
      border-color: var(--accent-color);
    }
  }
  

  

  .checkbox-text {
    line-height: 1.71;
    color: var(--secondary-color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    span {
      width: 16px;
      height: 15px;
      border: 2px solid #212121;
      border-radius: 2px;
      margin-right: 9px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  
  
  
  .icon-check {
    width: 11px;
    height: 8px;
  }
  

  .modal-checkbox{
    &:checked + .checkbox-text {
      span {
      background-color: var(--accent-color);
      border: none;
      }
    }
    &:checked + .checkbox-text{
      a {
      color: var(--accent-color);
      }
    } 
  }

  .checkbox-text{
    a {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
  }
  

  
  
  .modal-btn {
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }