.social {
    display: flex;
    justify-content: center;
  }
  .social__item {
    width: 44px;
    height: 44px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  
  
  
  .social__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
    
  }
  .social__icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .social-link:hover &,
    .social-link:focus & {
      fill: var(--primery-white-color);
    }
  }
  
  
  

  .social__link--grey {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .social-icon--white {
    fill: var(--primery-white-color);
  }