:root {
    --primery-color-tittle: #212121;
    --secondary-color-text: #757575;
    --primery-white-color: #fff;
    --accent-color: #2196f3;
    --secondary-bg-color: #f5f4fa;
    --icon-color: #afb1b8;
  }

  